.modal-header
  iwano
%h2.app-icon-large Post
.modal-body
  .control-group
    %label.control-label{:for => "post-title"} Title
    .controls
      iwano
  .control-group
    %label.control-label{:for => "post-body"} Body
    .controls
      iwano
.modal-footer
  iwano
  iwano
