.modal-header
  Add a Taco Point
%h2.app-icon-large What did this bastard do?
.modal-body
  .control-group
    %label.control-label {{name}}
    {{#each users}}
    {{name}}
    {{/each}}
  .control-group
    %label.control-label{:for => "post-body"} Body
    .controls
      iwano
.modal-footer
  iwano
  iwano
