%h1.label
  {{name}}

.well
  .tag-info
    Rules
  %ol
    {{#each taco_rules itemController="taco_rule"}}
    <li {{bindAttr class="isEditing:editing"}}>
    {{#if isEditing}}
    {{view TacoManager.EditTacoRuleView valueBinding="description"}}
    {{else}}
    <label {{action "editTacoRule" on="doubleClick"}} class='editable'/>{{description}}
    {{/if}}
    </li>
    {{else}}
    This team has no rules yet
    {{/each}}
  %form.form-inline
    {{view Ember.TextField id="new-taco-rule-description" placeholder="Rule's description" valueBinding="newDescription" action="createTacoRule"}}
    <button class='btn' id='new-taco-rule-btn' {{action createTacoRule}}> Create Taco Rule</button>
  .tag-info-bottom
    Last Updated:
    %strong
      {{fromNow lastUpdatedAt}}

.well
  .tag-info
    %strong
      {{usersCount}}
    users
  %ul#team-users-list
    {{#each users itemController="user"}}
    %li
      %span.badge.badge-warning.taco-points-count
        {{current_tacopoints}}
      {{name}}
      {{#linkTo 'taco_points.new' ../this}}+1{{/linkTo}}
      <span class="add-taco-point" {{action "showAddTacoPoint" on="click"}}>+1</span>
    {{else}}
    Nobody has enrolled to this team yet
    {{/each}}

{{outlet}}
