{{#each user in users itemController="user"}}
%li
  %span.badge.badge-warning.taco-points-count
    {{current_tacopoints}}
  {{name}}
  <span class="add-taco-point" {{action 'onClick' user target="view" }} {{bindAttr value="user.id"}}>+1</span>

{{else}}
Nobody has enrolled to this team yet
{{/each}}

{{view TacoManager.MyContainerView viewName="myContainerView"}}